# --- Django Settings ---
DEBUG=True
SECRET_KEY=django-insecure-your-dummy-key-for-local-development

ALLOWED_HOSTS=localhost,127.0.0.1,web
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# --- Database Settings ---
POSTGRES_DB=academy_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432