# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# Virtual environment
.venv/
venv/
env/
ENV/
.env*

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.swp
*.DS_Store
media

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/

# Node / npm
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Tailwind / build output
dist/
static/src/output.css
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Cache
cache/