{% extends "base.html" %}

{% block content %}
  <div class="flex items-center justify-center min-h-screen p-4">

    <div class="w-full max-w-sm sm:max-w-md p-8 text-center bg-white rounded-xl shadow-2xl">

      <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-4">
        Пароль успішно змінено
      </h2>

      {# Повідомлення про успішну зміну #}
      <p class="text-gray-600 mb-8">
        Ваш пароль успішно встановлено. Тепер ви можете використовувати новий пароль для входу в систему.
      </p>

      {# Кнопка входу #}
      <a href="{% url 'login' %}"
         class="w-full inline-block py-3 px-5 text-lg font-black uppercase tracking-widest text-white bg-[#19183B] rounded-xl
                hover:bg-[#ff9d32] hover:text-white hover:shadow-xl hover:shadow-[#ff9d32]/40
                transition-all duration-300 ease-in-out">
        Увійти
      </a>

    </div>
  </div>
{% endblock %}
