{% extends "base.html" %}

{% block content %}
  <div class="flex items-center justify-center min-h-screen p-4">

    <div class="w-full max-w-sm sm:max-w-md p-8 text-center bg-white rounded-xl shadow-2xl">

      <h2 class="text-3xl font-extrabold text-center text-gray-800 mb-4">
        Скидання пароля
      </h2>

      {# Повідомлення про відправлення інструкцій на email #}
      <p class="text-gray-600 mb-6">
        Ми надіслали вам інструкції для встановлення нового пароля на електронну пошту, якщо акаунт з цією адресою існує. Ви маєте отримати лист найближчим часом.
      </p>

      {# Додаткове повідомлення про перевірку спаму #}
      <p class="text-gray-600 mb-8">
        Якщо ви не отримали лист, будь ласка, переконайтеся, що ввели адресу, яку використовували під час реєстрації, та перевірте папку «Спам».
      </p>

      <a href="{% url 'users:student_course_list' %}"
         class="w-full py-3 px-5 text-lg font-black uppercase tracking-widest text-white bg-[#19183B] rounded-xl
                                   hover:bg-[#ff9d32] hover:text-white hover:shadow-xl hover:shadow-[#ff9d32]/40
                                   transition-all duration-300 ease-in-out">
        На головну
      </a>

    </div>
  </div>
{% endblock %}
