{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="mb-12">
      <h1 class="text-4xl font-bold text-[#19183B] mb-6 pb-2">
        О курсе
      </h1>
      <p class="text-gray-700 text-lg leading-relaxed">
        {{ course.about }}
      </p>
    </section>

    <section class="mb-12">
      <h2 class="text-3xl font-bold text-[#19183B] mb-6 pb-2">
        Программа курса
      </h2>

      <div class="grid gap-6">
        {% for module in course.modules.all %}
          <div class="bg-[#E7F2EF] rounded-xl shadow-md p-6 hover:shadow-xl transition">
            <h3 class="text-2xl font-semibold text-[#19183B] mb-2">{{ module.title }}</h3>
            {% if module.note %}
              <p class="text-gray-600 mb-2">{{ module.note }}</p>
            {% endif %}
          </div>
        {% empty %}
          <p class="text-gray-500">Модулі поки що не додані</p>
        {% endfor %}
      </div>
    </section>

    <section class="text-center mb-12">
      {% if request.user.is_authenticated %}
        {% if is_student_enrolled %}
          <a href="{% url 'students:student_course' course.id %}"
           class="inline-block px-8 py-4 bg-[#539db8] text-white font-semibold rounded-lg hover:bg-[#ff9d32] focus:outline-none focus:ring-4 focus:ring-[#A1C2BD]/50 shadow-md transition-colors duration-200 text-lg">
            Продовжити навчання
          </a>
        {% else %}
          <form action="{% url 'students:student_enroll_course' %}" method="post" class="inline-block">
            {% csrf_token %}
            {{ enroll_form }}
            <input type="submit" value="Записатися на курс"
                   class="px-8 py-4 bg-[#539db8] text-white font-semibold rounded-lg hover:bg-[#ff9d32] focus:outline-none focus:ring-4 focus:ring-[#A1C2BD]/50 shadow-md transition-colors duration-200 cursor-pointer text-lg">
          </form>
        {% endif %}

      {% else %}
        <a href="{% url 'subscriptions:subscription_create' %}"
           class="inline-block px-8 py-4 bg-[#539db8] text-white font-semibold rounded-lg hover:bg-[#ff9d32] focus:outline-none focus:ring-4 focus:ring-[#A1C2BD]/50 shadow-md transition-colors duration-200 text-lg">
          Зареєструйтесь, щоб почати навчання
        </a>
      {% endif %}
    </section>
{% endblock %}
